/* * {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 100px 20px;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
} */

/* Hold every card */
/* .flex-box {
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    flex: 2 1 auto;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.card {
    flex: auto;
    margin: 10px 10px;
    padding: 20px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.card:hover {
    box-shadow: 0 0 5px;
}

.mealName {
    font-size: 2rem;
    font-weight: bold;
}

.serving, .calories, .ingredient {
    font-size: 1.3rem;
}

.serving::before {
    content: "Serving: ";
}

.calories::before {
    content: "Calories: ";
}

.calories::after {
    content: " cal";
}

.ingredient::before {
    content: "Ingredient: ";
}

@media only screen and (max-width: 600px) {
    .title, .link-to-settings {
        width: 100%;
        text-align: center;
        padding: 0 0;
        margin: 0;
    }
}
 */
.card-wrapper{
    margin: 0 auto;
    width: 20%;
}

.card {
    flex: auto;
    /* margin: 10px 10px; */
    margin: 30px auto;
    padding: 10px 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 700px !important; 
}

.serving::before {
    content: "Serving: ";
}

.calories::before {
    content: "Calories: ";
}

.calories::after {
    content: " cal";
}

.ingredients::before {
    content: "Ingredients: ";
}