
html {
    background-color: #FC4F52;
    font-family: 'Quicksand', sans-serif;
}
body{
    font-family: inherit;
}



/*******************Recipe Detail Page*******************/

.recipeContainer{
    /* background-color: white; */
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 50px;
}

.instruction{
    background-color:white;
    font-size:36px;
}

.desc{
    background-color:white;
    font-size:30px;
}

.desc h2{
    color: #595959;
}

.returnButton i {
    text-decoration: none;
    color: #4f4f4f;
    font-size: 3em;
  }
  
.returnButton-container {
    padding: 100px 0;
    position: fixed;
    top: -5%;
    left: 3%;
}
  
.returnButton {
display: inline-block;
padding: 14px 25px;
border: 1px solid #4f4f4f;
border-radius: 50%;
transition: all 0.2s ease-in;
position: relative;
overflow: hidden;
}
.returnButton:before {
content: "";
position: absolute;
left: 50%;
transform: translateX(-50%) scaleY(1) scaleX(1.25);
top: 100%;
width: 140%;
height: 180%;
background-color: rgba(0, 0, 0, 0.05);
border-radius: 50%;
display: block;
transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
z-index: -1;
}
.returnButton:after {
content: "";
position: absolute;
left: 55%;
transform: translateX(-50%) scaleY(1) scaleX(1.45);
top: 180%;
width: 160%;
height: 190%;
background-color: #FC4F52!important;
border-radius: 50%;
display: block;
transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
z-index: -1;
}
.returnButton:hover i {
color: white;

}
.returnButton:hover {
border: none;
/* background-color: #FC4F52; */
}
.returnButton:hover:before {
top: -35%;
background-color: #FC4F52;
transform: translateX(-50%) scaleY(2) scaleX(0.8);
}
.returnButton:hover:after {
top: -45%;
background-color: #FC4F52!important;
transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn.bth-default.returnButton{
    background-color:#FC4F52!important;
}